.MenuItemBanner {
  h4 {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  
  img {
    max-width: 15rem;
    height: auto;
    margin-left: 0.5rem;
  }
}